<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Wild Code School">
    <meta name="description" content="Un grand choix de perruques femme synthétiques ou naturels, perruques homme ou perruques enfant et des prothésistes capillaires professionnels. En boutique, à l'hôpital ou à domicile dans le Nord Pas-de-Calais notre équipe se déplace avec un choix important de  prothèses capillaires, des bonnets et turbans. Le devis est gratuit. Nous sommes agréés Sécurité Sociale.">
    <meta name="keywords" content="perruque femme, perruque naturelle, perruque médicale, perruque à domicile, prothésiste capillaire">
    <title>Erreur 404</title>

    <!-- Include the favicon -->
    <link rel="apple-touch-icon" sizes="114x114" href="/public/assets/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/assets/image/favicon/site.webmanifest">
    <link rel="mask-icon" href="/public/assets/image/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Latest compiled and minified Bootstrap CSS files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/error404.css">
</head>
<body>

<!-- Error Page -->
<div class="error">
    <div class="container-floud">
        <div class="col-xs-12 ground-color text-center">
            <div class="container-error-404">
                <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                <div class="msg">OH!<span class="triangle"></span></div>
            </div>
            <h2 class="h1">Desolé ! Page non trouvée.</h2>
        </div>
    </div>
</div>
<!-- Error Page -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/error404.js"></script>
</body>
</html>