<footer id="mainFooter" class="mainFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 contact">
                <div class="header">
                    <h6>Contact</h6>
                </div>
                <ul class="contact list-unstyled">
                    <li><i class="fas fa-map-marker"></i>155 Rue de Lompret, 59130 Lambersart</li>
                    <li><i class="fas fa-phone"></i>06.43.25.78.05</li>
                    <li><a href="mailto:contact@monespaceperruques.com"><i class="fas fa-envelope"></i>contact@monespaceperruques.com</a></li>
                </ul>
                <div class="logo_footer">
                    <img src="/assets/image/logo_footer-2-01.png" alt="Logo mon espace perruques">
                </div>
            </div>

            <div class="col-sm-7 map">
                <div class="header">
                    <h6>maps</h6>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.84558631919!2d3.012676965230793!3d50.652640787434976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c32ab0701651b1%3A0xd445933a914e66f3!2s155+Rue+de+Lompret%2C+59130+Lambersart!5e0!3m2!1sfr!2sfr!4v1523434024912"  allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <ul class="list-unstyled list-inline">
                        <li><a href="/mentions-legales">Mentions Legales</a></li>
                        <li><a href="/catalogues">Catalogues</a></li>
                        <li><a href="/rendezvous">Contact</a></li>
                    </ul>
                </div>

                <div class="col-sm-7 visited">
                    <p>&copy; Made with <span class="heart">&hearts;</span> by <a href="https://wildcodeschool.fr/" target="_blank">Wild Code School</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/fontawesome-all.js"></script>
