<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Wild Code School">
    <meta name="description" content="Un grand choix de perruques femme synthétiques ou naturels, perruques homme ou perruques enfant et des prothésistes capillaires professionnels. En boutique, à l'hôpital ou à domicile dans le Nord Pas-de-Calais notre équipe se déplace avec un choix important de  prothèses capillaires, des bonnets et turbans. Le devis est gratuit. Nous sommes agréés Sécurité Sociale.">
    <meta name="keywords" content="perruque femme, perruque naturelle, perruque médicale, perruque à domicile, prothésiste capillaire">
    <title>Mon Espace Perruques</title>

    <!-- Include the favicon -->
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/image/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/image/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/suppliers.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar_and_footer_style.css">
</head>

<body>
<!-- Include the navbar -->
<header>
    {% include 'Item/navbar.html.twig' %}
</header>

<section id="suppliers">
    <!--Books section-->
    <div class="container placetop">
        <h1> Les catalogues </h1>
        <div class="row place" >
            <div class="col-sm-3">
                <a href="/assets/booklet/RAQUELs%20finest_low%20res.pdf" target="_blank">
                    <img src="/assets/booklet/F_Raquels_finest.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="/assets/booklet/pure!power_2015_low%20res.pdf" target="_blank">
                    <img src="/assets/booklet/F_pure_power.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="/assets/booklet/prime_power_2017_PDF_low%20res.pdf" target="_blank">
                    <img src="/assets/booklet/F_prime_power.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="/assets/booklet/HAIRPOWER_2018_WEB_LOWRES.pdf" target="_blank">
                    <img src="/assets/booklet/F_Hairpower_2018.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="/assets/booklet/HAIRforMANce_catalogue_low%20resolution.pdf" target="_blank">
                    <img src="/assets/booklet/F_HairforMANce.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="/assets/booklet/ew_POWERKIDS_2018_LOW_RES.pdf" target="_blank">
                    <img src="/assets/booklet/F_Powerkids.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>

            <div class="col-sm-3">
                <a href="/assets/booklet/ew_HairSociety_2017_LOW_RES.pdf" target="_blank">
                    <img src="/assets/booklet/F_Ellen_Wille_HairSociety.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>

            <div class="col-sm-3">
                <a href="/assets/booklet/Ellens%20Headwear_2018_WEB_LOWRES.pdf" target="_blank">
                    <img src="/assets/booklet/F_Ellen_Headwear.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>
        </div>
        <div class="row place">
            <div class="col-sm-6">
                <a href="/assets/booklet/DF-NJ-CATALOGUE-PERRUQUES2018-FR-EN-WEB.pdf" target="_blank">
                    <img src="/assets/booklet/F_NJ.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>

            <div class="col-sm-6">
                <a href="/assets/booklet/CHAPILIE%20ETE2018%20-%20INTERNATIONAL%20-%20BD.pdf" target="_blank">
                    <img src="/assets/booklet/F_Chapilie.png" alt="Logo pdf" class="logo-book">
                </a>
            </div>
        </div>
    </div>
    <!--End Books section-->

    <!--Partners section-->
    <div class="container">
        <div class="row place">
            <h1 id="partners-section"> Nos partenaires </h1>
            <div class="col-sm-2">
                <a href="https://www.nj-creation.com/fr/" target="_blank">
                    <img src="/assets/booklet/logo/Logo_NJ(1).png" alt="Logo NJ" class="logo-NJ">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.ellen-wille.de/fr/perruques/collections/hair-society/" target="_blank">
                    <img src="/assets/booklet/logo/Logo_HairSociety_Black(1).png" alt="Logo HairSociety" class="logo-compagnies">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.ellen-wille.de/fr/perruques/collections/hairformance/" target="_blank">
                    <img src="/assets/booklet/logo/LOGO_HAIRforMANce(1).png" alt="Logo HairforMANce" class="logo-compagnies">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.elite-hair.fr/" target="_blank">
                    <img src="/assets/booklet/logo/Logo_Elite_Hair_International(1).jpg" alt="Logo Elite_Hair" class="logo-compagnies">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.ellen-wille.de/fr/perruques/collections/" target="_blank">
                    <img src="/assets/booklet/logo/ellen_wille_logo_2016_schwarz(1).png" alt="Logo Ellen_Wille" class="logo-compagnies">
                </a>
            </div>
            <div class="col-sm-2">
                <a href="http://www.ellen-wille.de/fr/perruques/collections/power-kids/" target="_blank">
                    <img src="/assets/booklet/logo/ew_powerkids_logo_black(1).png" alt="Logo Power_Kids" class="logo-compagnies">
                </a>
            </div>
        </div>
    </div>
    <!--End Partners Section-->
</section>

<!--Include the footer-->
{%  include 'Item/footer.html.twig'%}

<!--General libraries JS-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>