<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Resource-type" content="Document"/>
    <meta name="author" content="Wild Code School">
    <meta name="description" content="Un grand choix de perruques femme synthétiques ou naturels, perruques homme ou perruques enfant et des prothésistes capillaires professionnels. En boutique, à l'hôpital ou à domicile dans le Nord Pas-de-Calais notre équipe se déplace avec un choix important de  prothèses capillaires, des bonnets et turbans. Le devis est gratuit. Nous sommes agréés Sécurité Sociale.">
    <meta name="keywords" content="perruque femme, perruque naturelle, perruque médicale, perruque à domicile, prothésiste capillaire">
    <title>Mon Espace Perruques</title>


    <!-- Include the favicon -->
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/image/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/image/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Include the style css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightbox.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/product.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar_and_footer_style.css" />
</head>

<body>
<header>
    <!-- Include the navbar -->
    {% include'Item/navbar.html.twig' %}
</header>

<div id="fullpage">
    <div class="section" id="section0">
        <div class="content">
            <div class="container place">
                <br>
                <h2>Cheveux Synthétiques</h2>
                <div class="gallery">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <ul class="menu">
                                <li data-menuanchor="firstPage"  class="active"><a href="#firstPage">Femmes Cheveux Synthétiques</a></li>
                                <li data-menuanchor="secondPage"><a href="#secondPage">Femmes Cheveux Naturels</a></li>
                                <li data-menuanchor="3rdPage"><a href="#3rdPage">Hommes</a></li>
                                <li data-menuanchor="4thPage"><a href="#4thPage">Enfants</a></li>
                                <li data-menuanchor="5thPage"><a href="#5thPage">Accessoires</a></li>
                                <li data-menuanchor="lastPage" class="hiddenmenu" ><a href="#lastPage">Nos Partenaires</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6 ">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_instant1_small.jpg" alt="Instant's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_instant1.jpg" data-lightbox="wigInstant" data-title="Image Caption" >
                                        <span class="productOverTitle">
                                               Prix : 524 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="ginger"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_victoria3_small.jpg" alt="Victoria's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_victoria3.jpg" data-lightbox="wigVictoria" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 579 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="ginger"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_expression1_small.jpg" alt="Expression's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_expression1.jpg" data-lightbox="wigExpression" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 499 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="ginger"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_ardeur_small.jpg" alt="Ardeur's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_ardeur.jpg" data-lightbox="wigArdeur" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 349 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="ginger"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6 ">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_aura_small.jpg" alt="Aura's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_aura.jpg" data-lightbox="wigAura" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 490 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="ginger"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_shape_small.jpg" alt="Shape's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_shape.jpg" data-lightbox="wigShape" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 490 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="ginger"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_splendid_small.jpg" alt="Splendid's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_splendid.jpg" data-lightbox="wigSplendid" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 590 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_icone_small.jpg" alt="Icone's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_synthetic_icone.jpg" data-lightbox="WigIcone" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 490 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="ginger"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section1">
        <div class="content">
            <div class="container place">
                <br>
                <h2>Cheveux Naturels</h2>
                <div class="gallery">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <ul class="menu">
                                <li data-menuanchor="firstPage"><a href="#firstPage">Femmes Cheveux Synthétiques</a></li>
                                <li data-menuanchor="secondPage" class="active"><a href="#secondPage">Femmes Cheveux Naturels</a></li>
                                <li data-menuanchor="3rdPage"><a href="#3rdPage">Hommes</a></li>
                                <li data-menuanchor="4thPage"><a href="#4thPage">Enfants</a></li>
                                <li data-menuanchor="5thPage"><a href="#5thPage">Accessoires</a></li>
                                <li data-menuanchor="lastPage" class="hiddenmenu"><a href="#lastPage">Nos Partenaires</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6 ">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_award_small.jpg" alt="Award's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_award.jpg" data-lightbox="wigAward" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 750 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_cascade_small.jpg" alt="Cascade's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_cascade.jpg" data-lightbox="wigCascade" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 1 690 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_delicate_small.jpg" alt="Delicate's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_delicate.jpg" data-lightbox="wigDelicate" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 1 250 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 ">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_emotion_small.jpg" alt="Emotion's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_emotion.jpg" data-lightbox="wigEmotion" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 1 600 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_gloss_small.jpg" alt="Gloss' Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_gloss.jpg" data-lightbox="wigGloss" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 950 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_obsession_small.jpg" alt="Obsession's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_obsession.jpg" data-lightbox="wigObsession" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 1 700 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_silk_small.jpg" alt="Silk's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_silk.jpg" data-lightbox="wigSilk" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 750 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache ">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_trinity_small.jpg" alt="Trinity's Wig">
                                    <a href="/assets/image/ProductPage/Femme/productspage_wigwoman_natural_trinity.jpg" data-lightbox="wigTrinity" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 1 450 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section2">
        <div class="content">
            <div class="container place">
                <br>
                <h2>Perruques Hommes</h2>
                <div class="gallery">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <ul class="menu">
                                <li data-menuanchor="firstPage"><a href="#firstPage">Femmes Cheveux Synthétiques</a></li>
                                <li data-menuanchor="secondPage"><a href="#secondPage">Femmes Cheveux Naturels</a></li>
                                <li data-menuanchor="3rdPage" class="active"><a href="#3rdPage">Hommes</a></li>
                                <li data-menuanchor="4thPage"><a href="#4thPage">Enfants</a></li>
                                <li data-menuanchor="5thPage"><a href="#5thPage">Accessoires</a></li>
                                <li data-menuanchor="lastPage" class="hiddenmenu"><a href="#lastPage">Nos Partenaires</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Homme/productspage_wigman_Brad_small.jpg" alt="Brad's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_Brad.jpg" data-lightbox="wigBrad" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 250 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="black"></span>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Homme/productspage_wigman_Mike_small.jpg" alt="Mike's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_Mike.jpg" data-lightbox="wigMike" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 275 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="black"></span>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Homme/productspage_wigman_Bradford_small.jpg" alt="Bradford's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_Bradford.jpg" data-lightbox="wigBradford" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 490 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="lightblond"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Homme/productspage_wigman_patrick_small.jpg" alt="Patrick's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_patrick.jpg" data-lightbox="wigPatrick" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 975 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="black"></span>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Homme/productspage_wigman_Eric_small.jpg" alt="Eric's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_Eric.jpg" data-lightbox="wigEric" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 420 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="black"></span>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Homme/productspage_wigman_Oliver_small.jpg" alt="Oliver's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_Oliver.jpg" data-lightbox="wigOliver" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 390 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="black"></span>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item"><img src="/assets/image/ProductPage/Homme/productspage_wigman_Johnny_small.jpg" alt="Jhonny's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_Johnny.jpg" data-lightbox="wigJhonny" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 285 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="black"></span>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache ">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Homme/productspage_wigman_Justin_small.jpg" alt="Justin's Wig">
                                    <a href="/assets/image/ProductPage/Homme/productspage_wigman_Justin.jpg" data-lightbox="wigJustin" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">
                                               Prix : 450 €
                                            <br>
                                            <br>
                                               Couleurs :
                                        </span>
                                        <br>
                                        <span class="black"></span>
                                        <span class="darkbrown"></span>
                                        <span class="lightbrown"></span>
                                        <span class="darkblond"></span>
                                        <span class="white"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="content">
            <div class="container place">
                <br>
                <h2>Perruques Enfants</h2>
                <div class="gallery">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <ul class="menu">
                                <li data-menuanchor="firstPage"><a href="#firstPage">Femmes Cheveux Synthétiques</a></li>
                                <li data-menuanchor="secondPage"><a href="#secondPage">Femmes Cheveux Naturels</a></li>
                                <li data-menuanchor="3rdPage"><a href="#3rdPage">Hommes</a></li>
                                <li data-menuanchor="4thPage" class="active"><a href="#4thPage">Enfants</a></li>
                                <li data-menuanchor="5thPage"><a href="#5thPage">Accessoires</a></li>
                                <li data-menuanchor="lastPage" class="hiddenmenu" ><a href="#lastPage">Nos Partenaires</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_Eli_small.jpg" alt="Eli's Wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_Eli.jpg" data-lightbox="wigEli" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 375 €</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_Eli_3_small.jpg" alt="Eli3's Wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_Eli_3.jpg" data-lightbox="wigEli3" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 375 €</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_Emma_small.jpg" alt="Emma's Wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_Emma.jpg" data-lightbox="wigEmma" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 425 €</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_Lilly_small.jpg" alt="Lilly's wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_Lilly.jpg" data-lightbox="wigLilly" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 465 €</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_ariana_juniors_small.jpg" alt="Ariana's Wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_ariana_juniors.jpg" data-lightbox="wigAriana" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 329 €</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_elitekid1_juniors8_small.jpg" alt="Elitekid's Wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_elitekid1_juniors8.jpg" data-lightbox="wigElitekid" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 309 €</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_Nele_small.jpg" alt="Nele's Wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_Nele.jpg" data-lightbox="wigNele" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 350 €</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Enfants/productspage_wigchild_Sara_small.jpg" alt="Sara's Wig">
                                    <a href="/assets/image/ProductPage/Enfants/productspage_wigchild_Sara.jpg" data-lightbox="wigSara" data-title="Image Caption" class="has-border">
                                        <span class="productOverTitle">Prix : 350 €</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="section4">
        <div class="content">
            <div class="container place">
                <br>
                <h2>Accessoires</h2>
                <div class="gallery hat">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <ul class="menu">
                                <li data-menuanchor="firstPage"><a href="#firstPage">Femmes Cheveux Synthétiques</a></li>
                                <li data-menuanchor="secondPage"><a href="#secondPage">Femmes Cheveux Naturels</a></li>
                                <li data-menuanchor="3rdPage"><a href="#3rdPage">Hommes</a></li>
                                <li data-menuanchor="4thPage"><a href="#4thPage">Enfants</a></li>
                                <li data-menuanchor="5thPage" class="active"><a href="#5thPage">Accessoires</a></li>
                                <li data-menuanchor="lastPage" class="hiddenmenu"><a href="#lastPage">Nos Partenaires</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Bands_1_small.jpg" alt="Bands' Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Bands_1.jpg" data-lightbox="hatBands" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Chapeau_small.jpg" alt="Chapeau's Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Chapeau.jpg" data-lightbox="hatChapeau" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Delsy_small.jpg" alt="Delsy's Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Delsy.jpg" data-lightbox="hatDelsy" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Garbo_1_small.jpg" alt="Garbo's Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Garbo_1.jpg" data-lightbox="hatGarbo" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Linen_Hat_1_small.jpg" alt="Linen's Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Linen_Hat_1.jpg" data-lightbox="hatLinen" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item ">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Lulu_1_small.jpg" alt="Lulu's Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Lulu_1.jpg" data-lightbox="hatLulu" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Tala_Set_1_small.jpg" alt="Tala's Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Tala_Set_1.jpg" data-lightbox="hatTala" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6 cache">
                                <div class="item">
                                    <img src="/assets/image/ProductPage/Bonnet/productspage_hat_Milla_2_small.jpg" alt="Milla's Hat">
                                    <a href="/assets/image/ProductPage/Bonnet/productspage_hat_Milla_2.jpg" data-lightbox="hatMilla" data-title="Image Caption" class="has-border">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="section" id="section5">
        <div class="content">
            <div class="container placelast">
                <div class="row">
                    <br>
                    <h2 class="spe">Nos partenaires</h2>
                </div>
                <div class="gallery">
                    <div class="row spe">
                        <div class="gallery-img">
                            <div class="col-md-3 col-xs-6">
                                <div class="item brand">
                                    <img src="/assets/booklet/logo/ellen_wille_logo_2016_schwarz.png" alt="Ellen Wille Logo">
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item brand">
                                    <img src="/assets/booklet/logo/LOGO_HAIRforMANce.png" alt="Logo HairforMance">

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item brand">
                                    <img src="/assets/booklet/logo/Logo_HairSociety_Black.png" alt="Logo HairSociety">

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="item brand">
                                    <img src="/assets/booklet/logo/logo_NJ.png" alt="Logo NJ">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <a class="btn-unique" href="/catalogues">Catalogues</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'Item/footer.html.twig' %}
    </div>
</div>

<script src="/assets/js/javascript.fullPage.min.js"></script>
<script src="/assets/js/style.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>

<!-- Calendly badge widget begin -->
<script>
    screen&&screen.width>767&&(document.write('<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">'),document.write('<script src="https://assets.calendly.com/assets/external/widget.js"><\/script>'),document.write("<script>Calendly.initBadgeWidget({url: 'https://calendly.com/1001perruques/90min', text: 'Prendre un rendez-vous', color: '#d3ad62', branding: true});<\/script>"));
</script>
<!-- Calendly badge widget end -->
</body>
</html>
